@use "../Variaveis/Variaveis.scss" as variaveis;




.container_home{
                
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}


  
  .Texto-home{
    display: flex;
    flex-direction: column;
    background-image: variaveis.$interior;
    @include variaveis.backgroundimagefade("imgbottom");
    min-height: 100vh;
    justify-content: center;
    color: variaveis.$energyStyle1;
    text-shadow: variaveis.$black 2px 2px;
    p{
      font-size: variaveis.$tamanho;
      font-weight: bold;
    }
  }

  .vantagens{
    display: flex;
    flex-direction: row;
    background-image: variaveis.$interior_Urban_Jungle;
    @include variaveis.backgroundimagefade("imgboth");
    
}

.industrial{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background-image: variaveis.$interior_industrial;
  @include variaveis.backgroundimagefade("imgboth");
  
}

.agendamento{
  background-image: variaveis.$interior_agendamento;
  @include variaveis.backgroundimagefade("imgtop");
  min-height: 60vh;
}
