@use "../Variaveis/Variaveis.scss" as variaveis;




.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    background-color: variaveis.$energyStyle3;
}

.first-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;


    button{
        margin: 10px;
        border: none;
        font-size: variaveis.$tamanho;
        color: variaveis.$energyStyle4;
        background-color: transparent;
        font-weight: bolder;
        cursor: pointer;
    }
}

.second-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    a{ 
        text-decoration: none;
        margin: 10px;
        border: none;
        font-size: variaveis.$tamanho;
        color: variaveis.$energyStyle4;
        background-color: transparent;
        font-weight: bolder;
        cursor: pointer;
    }
}